# Описание проекта

Подготовьте прототип модели машинного обучения для «Цифры». Компания разрабатывает решения для эффективной работы промышленных предприятий.

Модель должна предсказать коэффициент восстановления золота из золотосодержащей руды. В вашем распоряжении данные с параметрами добычи и очистки.

Модель поможет оптимизировать производство, чтобы не запускать предприятие с убыточными характеристиками.

**Задача:**

* Подготовить данные;
* Провести исследовательский анализ данных;
* Построить и обучить модель.
* Чтобы выполнить проект, обращайтесь к библиотекам pandas, matplotlib и sklearn. Вам поможет их документация.

## Описание данных

*Технологический процесс*

* Rougher feed — исходное сырье
* Rougher additions (или reagent additions) — флотационные реагенты: Xanthate, * Sulphate, Depressant
* Xanthate **— ксантогенат (промотер, или активатор флотации);
* Sulphate — сульфат (на данном производстве сульфид натрия);
* Depressant — депрессант (силикат натрия).
* Rougher process (англ. «грубый процесс») — флотация
* Rougher tails — отвальные хвосты
* Float banks — флотационная установка
* Cleaner process — очистка
* Rougher Au — черновой концентрат золота
* Final Au — финальный концентрат золота

*Параметры этапов*
* air amount — объём воздуха
* fluid levels — уровень жидкости
* feed size — размер гранул сырья
* feed rate — скорость подачи

**Наименование признаков**

Наименование признаков должно быть такое:\
**[этап].[тип_параметра].[название_параметра]**\
Пример: rougher.input.feed_ag

*Возможные значения для блока [этап]:* 

* rougher — флотация
* primary_cleaner — первичная очистка
* secondary_cleaner — вторичная очистка
* final — финальные характеристики

*Возможные значения для блока [тип_параметра]:*

* input — параметры сырья
* output — параметры продукта
* state — параметры, характеризующие текущее состояние этапа
* calculation — расчётные характеристики

# Подготовка и предобработка данных

In [1]:
#common
import numpy as np
import pandas as pd 
import IPython
from IPython.display import display
import warnings
warnings.simplefilter('ignore')
import scipy.stats as st
import re

#visualization
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px

#ml
from sklearn.metrics import SCORERS, make_scorer
from sklearn.metrics import mean_squared_error,  r2_score, roc_auc_score, roc_curve, mean_absolute_error
from sklearn.model_selection import train_test_split, cross_validate, cross_val_score
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, KFold
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OrdinalEncoder, LabelEncoder, Binarizer
from sklearn.preprocessing import QuantileTransformer, PolynomialFeatures
from sklearn.utils import shuffle, resample
from sklearn.decomposition import PCA, IncrementalPCA, KernelPCA

#classifiers

from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

In [2]:
full = pd.read_csv('gold_recovery_full.csv')
train = pd.read_csv('gold_recovery_train.csv')
test = pd.read_csv('gold_recovery_test.csv')

In [3]:
train.drop(['Unnamed: 0'], axis=1, inplace=True)
test.drop(['Unnamed: 0'], axis=1, inplace=True)
full.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
display(train.head())
display(test.head())
display(full.head())

                  date  ...  secondary_cleaner.state.floatbank6_a_level
0  2016-01-15 00:00:00  ...                                 -605.841980
1  2016-01-15 01:00:00  ...                                 -599.787184
2  2016-01-15 02:00:00  ...                                 -601.427363
3  2016-01-15 03:00:00  ...                                 -599.996129
4  2016-01-15 04:00:00  ...                                 -601.496691

[5 rows x 87 columns]

                  date  ...  secondary_cleaner.state.floatbank6_a_level
0  2016-09-01 00:59:59  ...                                 -499.709414
1  2016-09-01 01:59:59  ...                                 -499.819438
2  2016-09-01 02:59:59  ...                                 -500.622559
3  2016-09-01 03:59:59  ...                                 -498.709987
4  2016-09-01 04:59:59  ...                                 -500.856333

[5 rows x 53 columns]

                  date  ...  secondary_cleaner.state.floatbank6_a_level
0  2016-01-15 00:00:00  ...                                 -605.841980
1  2016-01-15 01:00:00  ...                                 -599.787184
2  2016-01-15 02:00:00  ...                                 -601.427363
3  2016-01-15 03:00:00  ...                                 -599.996129
4  2016-01-15 04:00:00  ...                                 -601.496691

[5 rows x 87 columns]

In [5]:
#Посмотрим размеры выборок
print('Размер обучающей выборки: {} '.format(train.shape))
print('Размер тестовой выборки: {} '.format(test.shape))
print('Размер общей выборки: {} '.format(full.shape))

Размер обучающей выборки: (16860, 87)
Размер тестовой выборки: (5856, 53)
Размер общей выборки: (22716, 87)

In [6]:
#Изучим наши выборки
display(train.info())
display(test.info())
display(full.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16860 entries, 0 to 16859
Data columns (total 87 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   date                                                16860 non-null  object
 1   final.output.concentrate_ag                         16788 non-null  float64
 2   final.output.concentrate_pb                         16788 non-null  float64
 3   final.output.concentrate_sol                        16490 non-null  float64
 4   final.output.concentrate_au                         16789 non-null  float64
 5   final.output.recovery                               15339 non-null  float64
 6   final.output.tail_ag                                16794 non-null  float64
 7   final.output.tail_pb                                16677 non-null  float64
 8   final.output.tail_sol                               16715 non-null  float64
 9   final.output.tail_au                                16794 non-null  float64
 10  primary_cleaner.input.sulfate                       15553 non-null  float64
 11  primary_cleaner.input.depressant                    15598 non-null  float64
 12  primary_cleaner.input.feed_size                     16860 non-null  float64
 13  primary_cleaner.input.xanthate                      15875 non-null  float64
 14  primary_cleaner.output.concentrate_ag               16778 non-null  float64
 15  primary_cleaner.output.concentrate_pb               16502 non-null  float64
 16  primary_cleaner.output.concentrate_sol              16224 non-null  float64
 17  primary_cleaner.output.concentrate_au               16778 non-null  float64
 18  primary_cleaner.output.tail_ag                      16777 non-null  float64
 19  primary_cleaner.output.tail_pb                      16761 non-null  float64
 20  primary_cleaner.output.tail_sol                     16579 non-null  float64
 21  primary_cleaner.output.tail_au                      16777 non-null  float64
 22  primary_cleaner.state.floatbank8_a_air              16820 non-null  float64
 23  primary_cleaner.state.floatbank8_a_level            16827 non-null  float64
 24  primary_cleaner.state.floatbank8_b_air              16820 non-null  float64
 25  primary_cleaner.state.floatbank8_b_level            16833 non-null  float64
 26  primary_cleaner.state.floatbank8_c_air              16822 non-null  float64
 27  primary_cleaner.state.floatbank8_c_level            16833 non-null  float64
 28  primary_cleaner.state.floatbank8_d_air              16821 non-null  float64
 29  primary_cleaner.state.floatbank8_d_level            16833 non-null  float64
 30  rougher.calculation.sulfate_to_au_concentrate       16833 non-null  float64
 31  rougher.calculation.floatbank10_sulfate_to_au_feed  16833 non-null  float64
 32  rougher.calculation.floatbank11_sulfate_to_au_feed  16833 non-null  float64
 33  rougher.calculation.au_pb_ratio                     15618 non-null  float64
 34  rougher.input.feed_ag                               16778 non-null  float64
 35  rougher.input.feed_pb                               16632 non-null  float64
 36  rougher.input.feed_rate                             16347 non-null  float64
 37  rougher.input.feed_size                             16443 non-null  float64
 38  rougher.input.feed_sol                              16568 non-null  float64
 39  rougher.input.feed_au                               16777 non-null  float64
 40  rougher.input.floatbank10_sulfate                   15816 non-null  float64
 41  rougher.input.floatbank10_xanthate                  16514 non-null  float64
 42  rougher.input.floatbank11_sulfate                   16237 non-null  float64
 43  rougher.input.floatbank11_xanthate                  14956 non-null  float64
 44  rougher.output.concentrate_ag                       16778 non-null  float64
 45  rougher.output.concentrate_pb                       16778 non-null  float64
 46  rougher.output.concentrate_sol                      16698 non-null  float64
 47  rougher.output.concentrate_au                       16778 non-null  float64
 48  rougher.output.recovery                             14287 non-null  float64
 49  rougher.output.tail_ag                              14610 non-null  float64
 50  rougher.output.tail_pb                              16778 non-null  float64
 51  rougher.output.tail_sol                             14611 non-null  float64
 52  rougher.output.tail_au                              14611 non-null  float64
 53  rougher.state.floatbank10_a_air                     16807 non-null  float64
 54  rougher.state.floatbank10_a_level                   16807 non-null  float64
 55  rougher.state.floatbank10_b_air                     16807 non-null  float64
 56  rougher.state.floatbank10_b_level                   16807 non-null  float64
 57  rougher.state.floatbank10_c_air                     16807 non-null  float64
 58  rougher.state.floatbank10_c_level                   16814 non-null  float64
 59  rougher.state.floatbank10_d_air                     16802 non-null  float64
 60  rougher.state.floatbank10_d_level                   16809 non-null  float64
 61  rougher.state.floatbank10_e_air                     16257 non-null  float64
 62  rougher.state.floatbank10_e_level                   16809 non-null  float64
 63  rougher.state.floatbank10_f_air                     16802 non-null  float64
 64  rougher.state.floatbank10_f_level                   16802 non-null  float64
 65  secondary_cleaner.output.tail_ag                    16776 non-null  float64
 66  secondary_cleaner.output.tail_pb                    16764 non-null  float64
 67  secondary_cleaner.output.tail_sol                   14874 non-null  float64
 68  secondary_cleaner.output.tail_au                    16778 non-null  float64
 69  secondary_cleaner.state.floatbank2_a_air            16497 non-null  float64
 70  secondary_cleaner.state.floatbank2_a_level          16751 non-null  float64
 71  secondary_cleaner.state.floatbank2_b_air            16705 non-null  float64
 72  secondary_cleaner.state.floatbank2_b_level          16748 non-null  float64
 73  secondary_cleaner.state.floatbank3_a_air            16763 non-null  float64
 74  secondary_cleaner.state.floatbank3_a_level          16747 non-null  float64
 75  secondary_cleaner.state.floatbank3_b_air            16752 non-null  float64
 76  secondary_cleaner.state.floatbank3_b_level          16750 non-null  float64
 77  secondary_cleaner.state.floatbank4_a_air            16731 non-null  float64
 78  secondary_cleaner.state.floatbank4_a_level          16747 non-null  float64
 79  secondary_cleaner.state.floatbank4_b_air            16768 non-null  float64
 80  secondary_cleaner.state.floatbank4_b_level          16767 non-null  float64
 81  secondary_cleaner.state.floatbank5_a_air            16775 non-null  float64
 82  secondary_cleaner.state.floatbank5_a_level          16775 non-null  float64
 83  secondary_cleaner.state.floatbank5_b_air            16775 non-null  float64
 84  secondary_cleaner.state.floatbank5_b_level          16776 non-null  float64
 85  secondary_cleaner.state.floatbank6_a_air            16757 non-null  float64
 86  secondary_cleaner.state.floatbank6_a_level          16775 non-null  float64
dtypes: float64(86), object(1)
memory usage: 11.2+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5856 entries, 0 to 5855
Data columns (total 53 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        5856 non-null   object
 1   primary_cleaner.input.sulfate               5554 non-null   float64
 2   primary_cleaner.input.depressant            5572 non-null   float64
 3   primary_cleaner.input.feed_size             5856 non-null   float64
 4   primary_cleaner.input.xanthate              5690 non-null   float64
 5   primary_cleaner.state.floatbank8_a_air      5840 non-null   float64
 6   primary_cleaner.state.floatbank8_a_level    5840 non-null   float64
 7   primary_cleaner.state.floatbank8_b_air      5840 non-null   float64
 8   primary_cleaner.state.floatbank8_b_level    5840 non-null   float64
 9   primary_cleaner.state.floatbank8_c_air      5840 non-null   float64
 10  primary_cleaner.state.floatbank8_c_level    5840 non-null   float64
 11  primary_cleaner.state.floatbank8_d_air      5840 non-null   float64
 12  primary_cleaner.state.floatbank8_d_level    5840 non-null   float64
 13  rougher.input.feed_ag                       5840 non-null   float64
 14  rougher.input.feed_pb                       5840 non-null   float64
 15  rougher.input.feed_rate                     5816 non-null   float64
 16  rougher.input.feed_size                     5834 non-null   float64
 17  rougher.input.feed_sol                      5789 non-null   float64
 18  rougher.input.feed_au                       5840 non-null   float64
 19  rougher.input.floatbank10_sulfate           5599 non-null   float64
 20  rougher.input.floatbank10_xanthate          5733 non-null   float64
 21  rougher.input.floatbank11_sulfate           5801 non-null   float64
 22  rougher.input.floatbank11_xanthate          5503 non-null   float64
 23  rougher.state.floatbank10_a_air             5839 non-null   float64
 24  rougher.state.floatbank10_a_level           5840 non-null   float64
 25  rougher.state.floatbank10_b_air             5839 non-null   float64
 26  rougher.state.floatbank10_b_level           5840 non-null   float64
 27  rougher.state.floatbank10_c_air             5839 non-null   float64
 28  rougher.state.floatbank10_c_level           5840 non-null   float64
 29  rougher.state.floatbank10_d_air             5839 non-null   float64
 30  rougher.state.floatbank10_d_level           5840 non-null   float64
 31  rougher.state.floatbank10_e_air             5839 non-null   float64
 32  rougher.state.floatbank10_e_level           5840 non-null   float64
 33  rougher.state.floatbank10_f_air             5839 non-null   float64
 34  rougher.state.floatbank10_f_level           5840 non-null   float64
 35  secondary_cleaner.state.floatbank2_a_air    5836 non-null   float64
 36  secondary_cleaner.state.floatbank2_a_level  5840 non-null   float64
 37  secondary_cleaner.state.floatbank2_b_air    5833 non-null   float64
 38  secondary_cleaner.state.floatbank2_b_level  5840 non-null   float64
 39  secondary_cleaner.state.floatbank3_a_air    5822 non-null   float64
 40  secondary_cleaner.state.floatbank3_a_level  5840 non-null   float64
 41  secondary_cleaner.state.floatbank3_b_air    5840 non-null   float64
 42  secondary_cleaner.state.floatbank3_b_level  5840 non-null   float64
 43  secondary_cleaner.state.floatbank4_a_air    5840 non-null   float64
 44  secondary_cleaner.state.floatbank4_a_level  5840 non-null   float64
 45  secondary_cleaner.state.floatbank4_b_air    5840 non-null   float64
 46  secondary_cleaner.state.floatbank4_b_level  5840 non-null   float64
 47  secondary_cleaner.state.floatbank5_a_air    5840 non-null   float64
 48  secondary_cleaner.state.floatbank5_a_level  5840 non-null   float64
 49  secondary_cleaner.state.floatbank5_b_air    5840 non-null   float64
 50  secondary_cleaner.state.floatbank5_b_level  5840 non-null   float64
 51  secondary_cleaner.state.floatbank6_a_air    5840 non-null   float64
 52  secondary_cleaner.state.floatbank6_a_level  5840 non-null   float64
dtypes: float64(52), object(1)
memory usage: 2.4+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22716 entries, 0 to 22715
Data columns (total 87 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   date                                                22716 non-null  object
 1   final.output.concentrate_ag                         22627 non-null  float64
 2   final.output.concentrate_pb                         22629 non-null  float64
 3   final.output.concentrate_sol                        22331 non-null  float64
 4   final.output.concentrate_au                         22630 non-null  float64
 5   final.output.recovery                               20753 non-null  float64
 6   final.output.tail_ag                                22633 non-null  float64
 7   final.output.tail_pb                                22516 non-null  float64
 8   final.output.tail_sol                               22445 non-null  float64
 9   final.output.tail_au                                22635 non-null  float64
 10  primary_cleaner.input.sulfate                       21107 non-null  float64
 11  primary_cleaner.input.depressant                    21170 non-null  float64
 12  primary_cleaner.input.feed_size                     22716 non-null  float64
 13  primary_cleaner.input.xanthate                      21565 non-null  float64
 14  primary_cleaner.output.concentrate_ag               22618 non-null  float64
 15  primary_cleaner.output.concentrate_pb               22268 non-null  float64
 16  primary_cleaner.output.concentrate_sol              21918 non-null  float64
 17  primary_cleaner.output.concentrate_au               22618 non-null  float64
 18  primary_cleaner.output.tail_ag                      22614 non-null  float64
 19  primary_cleaner.output.tail_pb                      22594 non-null  float64
 20  primary_cleaner.output.tail_sol                     22365 non-null  float64
 21  primary_cleaner.output.tail_au                      22617 non-null  float64
 22  primary_cleaner.state.floatbank8_a_air              22660 non-null  float64
 23  primary_cleaner.state.floatbank8_a_level            22667 non-null  float64
 24  primary_cleaner.state.floatbank8_b_air              22660 non-null  float64
 25  primary_cleaner.state.floatbank8_b_level            22673 non-null  float64
 26  primary_cleaner.state.floatbank8_c_air              22662 non-null  float64
 27  primary_cleaner.state.floatbank8_c_level            22673 non-null  float64
 28  primary_cleaner.state.floatbank8_d_air              22661 non-null  float64
 29  primary_cleaner.state.floatbank8_d_level            22673 non-null  float64
 30  rougher.calculation.sulfate_to_au_concentrate       22672 non-null  float64
 31  rougher.calculation.floatbank10_sulfate_to_au_feed  22672 non-null  float64
 32  rougher.calculation.floatbank11_sulfate_to_au_feed  22672 non-null  float64
 33  rougher.calculation.au_pb_ratio                     21089 non-null  float64
 34  rougher.input.feed_ag                               22618 non-null  float64
 35  rougher.input.feed_pb                               22472 non-null  float64
 36  rougher.input.feed_rate                             22163 non-null  float64
 37  rougher.input.feed_size                             22277 non-null  float64
 38  rougher.input.feed_sol                              22357 non-null  float64
 39  rougher.input.feed_au                               22617 non-null  float64
 40  rougher.input.floatbank10_sulfate                   21415 non-null  float64
 41  rougher.input.floatbank10_xanthate                  22247 non-null  float64
 42  rougher.input.floatbank11_sulfate                   22038 non-null  float64
 43  rougher.input.floatbank11_xanthate                  20459 non-null  float64
 44  rougher.output.concentrate_ag                       22618 non-null  float64
 45  rougher.output.concentrate_pb                       22618 non-null  float64
 46  rougher.output.concentrate_sol                      22526 non-null  float64
 47  rougher.output.concentrate_au                       22618 non-null  float64
 48  rougher.output.recovery                             19597 non-null  float64
 49  rougher.output.tail_ag                              19979 non-null  float64
 50  rougher.output.tail_pb                              22618 non-null  float64
 51  rougher.output.tail_sol                             19980 non-null  float64
 52  rougher.output.tail_au                              19980 non-null  float64
 53  rougher.state.floatbank10_a_air                     22646 non-null  float64
 54  rougher.state.floatbank10_a_level                   22647 non-null  float64
 55  rougher.state.floatbank10_b_air                     22646 non-null  float64
 56  rougher.state.floatbank10_b_level                   22647 non-null  float64
 57  rougher.state.floatbank10_c_air                     22646 non-null  float64
 58  rougher.state.floatbank10_c_level                   22654 non-null  float64
 59  rougher.state.floatbank10_d_air                     22641 non-null  float64
 60  rougher.state.floatbank10_d_level                   22649 non-null  float64
 61  rougher.state.floatbank10_e_air                     22096 non-null  float64
 62  rougher.state.floatbank10_e_level                   22649 non-null  float64
 63  rougher.state.floatbank10_f_air                     22641 non-null  float64
 64  rougher.state.floatbank10_f_level                   22642 non-null  float64
 65  secondary_cleaner.output.tail_ag                    22616 non-null  float64
 66  secondary_cleaner.output.tail_pb                    22600 non-null  float64
 67  secondary_cleaner.output.tail_sol                   20501 non-null  float64
 68  secondary_cleaner.output.tail_au                    22618 non-null  float64
 69  secondary_cleaner.state.floatbank2_a_air            22333 non-null  float64
 70  secondary_cleaner.state.floatbank2_a_level          22591 non-null  float64
 71  secondary_cleaner.state.floatbank2_b_air            22538 non-null  float64
 72  secondary_cleaner.state.floatbank2_b_level          22588 non-null  float64
 73  secondary_cleaner.state.floatbank3_a_air            22585 non-null  float64
 74  secondary_cleaner.state.floatbank3_a_level          22587 non-null  float64
 75  secondary_cleaner.state.floatbank3_b_air            22592 non-null  float64
 76  secondary_cleaner.state.floatbank3_b_level          22590 non-null  float64
 77  secondary_cleaner.state.floatbank4_a_air            22571 non-null  float64
 78  secondary_cleaner.state.floatbank4_a_level          22587 non-null  float64
 79  secondary_cleaner.state.floatbank4_b_air            22608 non-null  float64
 80  secondary_cleaner.state.floatbank4_b_level          22607 non-null  float64
 81  secondary_cleaner.state.floatbank5_a_air            22615 non-null  float64
 82  secondary_cleaner.state.floatbank5_a_level          22615 non-null  float64
 83  secondary_cleaner.state.floatbank5_b_air            22615 non-null  float64
 84  secondary_cleaner.state.floatbank5_b_level          22616 non-null  float64
 85  secondary_cleaner.state.floatbank6_a_air            22597 non-null  float64
 86  secondary_cleaner.state.floatbank6_a_level          22615 non-null  float64
dtypes: float64(86), object(1)
memory usage: 15.1+ MB

None

In [7]:
#Проверим на наличие дубликатов
print('Тестовая выборка, количество дубликатов: ',test.duplicated().sum())
print('Обучающая выборка, количество дубликатов: ',train.duplicated().sum())
print('Full Dataset, количество дубликатов: ',full.duplicated().sum())

Тестовая выборка, количество дубликатов:  0
Обучающая выборка, количество дубликатов:  0
Full Dataset, количество дубликатов:  0

**Вывод**

* 87, 87 и 53 столбца
* 22 тысяч строк. Присутствуют пропущенные значения. Дата в формате 'object'. В сетах full и train присутствуют данные о содержании серебра (Ag), зола (?) (Sol), свинец (Pb) и золото (Au)
* Возможно, ненужные элементы можно удалить
* Вероятно, каждому сету стоит присвоить индексы = дате - и потом через новые индексы производить необходимые преобразования сетов

## 1.1 Проверим, что эффективность обогащения рассчитана правильно. Вычислим ее на обучающей выборке для признака "rougher.output.recovery". Найдем MAE между нашими расчетами и значениями признака. Опишем выводы.**

In [8]:
def recovery(c,f,t):

#Расчитаем эффективность с помощью формулы recovery данной в инструкции.

    prerecovery = (c*(f-t)) / (f*(c-t))
    recovery = prerecovery * 100

# Заполним слишком маленькие и слишком большие значения с помощью np.nan
    recovery[recovery<0] = np.nan
    recovery[recovery>100] = np.nan
    
    return recovery

In [9]:
c = train['rougher.output.concentrate_au']
f = train['rougher.input.feed_au']
t = train['rougher.output.tail_au']

recovery_list = recovery(c,f,t)

In [10]:
#Посчитаем MAE, но прежде заполним NAN значения на 0
mae = mean_absolute_error(train['rougher.output.recovery'].fillna(0),recovery_list.fillna(0))
print('Средняя абсолютная ошибка:', mae)

Средняя абсолютная ошибка: 8.188520377116694e-15


Значение МАЕ крайне мало (отклонение рассчетных данных от представленных может быть не более 8.2e-15), следовательно, представленные данные рассчитаны верно.

In [11]:
#Посчитаем количество пустых значений в наших расчетах и признаках
print('Пустых значений в recovery:', recovery_list.isna().sum())
print('Пустых значений в train[recovery]:' ,train['rougher.output.recovery'].isna().sum())

Пустых значений в recovery: 2573
Пустых значений в train[recovery]: 2573

In [12]:
# Потеря данных в процентах
train_clear = train.dropna()
print('Потеря данных составит', 
      100 - int((len(train_clear) * 100 / len(train))), '%')

Потеря данных составит 35 %

## 1.2 Анализ недоступных признаков тестовой выборки

In [13]:
train_set = train.columns
test_set = test.columns

In [14]:
difference = (list(set(train_set)-set(test_set)))
print('Количество недостающих признаков в тестовом сете = ', len(difference))
print()
print('Признаки, отсутствующие в тестовом сете:')
print()
print(np.sort(difference))

Количество недостающих признаков в тестовом сете =  34

Признаки, отсутствующие в тестовом сете:

['final.output.concentrate_ag' 'final.output.concentrate_au'
 'final.output.concentrate_pb' 'final.output.concentrate_sol'
 'final.output.recovery' 'final.output.tail_ag' 'final.output.tail_au'
 'final.output.tail_pb' 'final.output.tail_sol'
 'primary_cleaner.output.concentrate_ag'
 'primary_cleaner.output.concentrate_au'
 'primary_cleaner.output.concentrate_pb'
 'primary_cleaner.output.concentrate_sol' 'primary_cleaner.output.tail_ag'
 'primary_cleaner.output.tail_au' 'primary_cleaner.output.tail_pb'
 'primary_cleaner.output.tail_sol' 'rougher.calculation.au_pb_ratio'
 'rougher.calculation.floatbank10_sulfate_to_au_feed'
 'rougher.calculation.floatbank11_sulfate_to_au_feed'
 'rougher.calculation.sulfate_to_au_concentrate'
 'rougher.output.concentrate_ag' 'rougher.output.concentrate_au'
 'rougher.output.concentrate_pb' 'rougher.output.concentrate_sol'
 'rougher.output.recovery' 'rougher.output.tail_ag'
 'rougher.output.tail_au' 'rougher.output.tail_pb'
 'rougher.output.tail_sol' 'secondary_cleaner.output.tail_ag'
 'secondary_cleaner.output.tail_au' 'secondary_cleaner.output.tail_pb'
 'secondary_cleaner.output.tail_sol']

* В тестовой выборке отсутствуют признаки final.output, primary_cleaner.output, rougher.output, secondary_cleaner.output.
* Данные относятся параметрам продукта, параметрам характеризующие текущее состояние этапа и расчетные характеристики.

## 1.3 Проведем предобработку данных

**перевод даты**

In [15]:
train['date_time'] = pd.to_datetime(train['date'], format='%Y-%m-%dT%H:%M:%S')
train.drop(columns=['date'], inplace=True)
test['date_time'] = pd.to_datetime(test['date'], format='%Y-%m-%dT%H:%M:%S')
test.drop(columns=['date'], inplace=True)
full['date_time'] = pd.to_datetime(full['date'], format='%Y-%m-%dT%H:%M:%S')
full.drop(columns=['date'], inplace=True)

**Заполнение пропусков**\
Проведем анализ пропущенных значений во всех сетах.

In [16]:
full.isna().sum().sort_values(ascending=False)

rougher.output.recovery                     3119
rougher.output.tail_ag                      2737
rougher.output.tail_au                      2736
rougher.output.tail_sol                     2736
rougher.input.floatbank11_xanthate          2257
                                            ...
primary_cleaner.state.floatbank8_c_level      43
primary_cleaner.state.floatbank8_d_level      43
primary_cleaner.state.floatbank8_b_level      43
primary_cleaner.input.feed_size                0
date_time                                      0
Length: 87, dtype: int64

In [17]:
train.isna().sum().sort_values(ascending=False)

rougher.output.recovery                          2573
rougher.output.tail_ag                           2250
rougher.output.tail_au                           2249
rougher.output.tail_sol                          2249
secondary_cleaner.output.tail_sol                1986
                                                 ...
rougher.calculation.sulfate_to_au_concentrate      27
primary_cleaner.state.floatbank8_d_level           27
primary_cleaner.state.floatbank8_b_level           27
primary_cleaner.input.feed_size                     0
date_time                                           0
Length: 87, dtype: int64

In [18]:
test.isna().sum().sort_values(ascending=False).head(5)

rougher.input.floatbank11_xanthate    353
primary_cleaner.input.sulfate         302
primary_cleaner.input.depressant      284
rougher.input.floatbank10_sulfate     257
primary_cleaner.input.xanthate        166
dtype: int64

Больше всего пропущенных значений в одном из целевых столбцов 'rougher.output.recovery'

Удалим наблюдения с отсутствующими целевыми признаками, так как восстанавливать их по "усредненным" значениям, как начинающий data-scientist считаю неправильным.

In [19]:
full = full.dropna(axis='index', how='any', subset=['rougher.output.recovery', 'final.output.recovery'])
train = train.dropna(axis='index', how='any', subset=['rougher.output.recovery', 'final.output.recovery'])

Остальные пропуски, заполним ближайшими (верхними) значениями по столбцам, поскольку из условий проекта следует, что "Соседние по времени параметры часто похожи."

In [20]:
full = full.fillna(method='ffill')
train = train.fillna(method='ffill')
test = test.fillna(method='ffill')

In [21]:
print(full.isna().sum().unique()) 
print(train.isna().sum().unique())
print(test.isna().sum().unique())

[0]
[0]
[0]

In [22]:
print('В обучающей выборке : {} строк {} признаков'.format(train.shape[0],train.shape[1]))
print('В тестовой выборке: {} строк {} признаков'.format(test.shape[0], test.shape[1]))

В обучающей выборке : 14149 строк 87 признаков
В тестовой выборке: 5856 строк 53 признаков

**Отбросим из сета train все фичи, которые не встречаются в сете test, чтобы уровнять количество признаков для построения моделей.**

* удалим целевые признаки из переменной difference, в которой у нас сохранены отличающиеся столбцы train и test сетов.
* Удалим обновленный список столбцов из сета train.

In [23]:
unwanted = {'rougher.output.recovery','final.output.recovery'}

difference_ = [e for e in difference if e not in unwanted]

train_upd = train.drop(difference_, axis=1)

train_upd.shape[1], test.shape[1]

(55, 53)

Разница в 2 столбца - это отсуствие таргета в сете test.

Добавим таргеты из full в test, соотвтетсвие установим по индексу.

Финальная проверка соответсвия столбцов train_upd и test_upd, подготовленных для дальнейшей обработки

In [24]:
train_cols = train_upd.columns.tolist()
test_cols = test_upd.columns.tolist()

list(set(train_cols) - set(test_cols)), list(set(test_cols) - set(train_cols))

NameError: ignored

Оба списки пустые - в двух сетах одинаковые столбцы.

Удалим пропущенные значения в таргетах в сете test_upd, которые попали сюда при добавлении столбцов с таргетом и full.

In [ ]:
test_upd.isna().sum().sort_values(ascending=False).head(2)

In [ ]:
test_upd = test_upd.dropna(axis='index', how='any', subset=['rougher.output.recovery', 'final.output.recovery'])

In [ ]:
test_upd.isna().sum().sort_values(ascending=False).head()

Соединение данных в тестовом сете произведено верно.
Сортировать порядок столбцов не имеет смысла. Можно сбросить все индексы, но пока оставим, как есть, возможно, где-то в дальнейшем, они еще пригодятся.
В выборках train_upd и test_upd по 55 одинаковых столбцов.

## Вывод

На данном шаге произведено знакомство с данными, и выпоплены первые шаги проекта. За время работы установлено следующее:

* В предложенных данных ~ 30% пропущенных значений;
* Целевыми признаками данных являются столбцы 'rougher.output.recovery' и 'final.output.recovery';
* Рассчетные значения столбца 'rougher.output.recovery' в сете recovery_train демонстрируют значение средней абсолютной ошибки, в сравнении с представленными значениями, равной 9.4e-15. Можно утверждать, что представленные данные посчитаны корректно.
* В процессе предобработки дата была преведена в читаемый вид, были удалены строки с пропущенным значенем целевых признаков во всех трех сетах, пропущенные значения фич заполнены методом "ближаших верхних соседей" - "ffill".
* Из первоначального сета recovery_train были удалены фичи, которых нет в recovery_test. В recovery_test были добавлены целевые признаки из recovery_full.

В целом, за время предобработы, было удалено ~16% изначальных данных, за счет дропа неизвестных целевых признаков.

full готов для исследования признаков (пункт 2 проекта)
train_upd и test_upd подготовленны для построения моделей (пункт 3 проекта)